@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
  padding: 0;
  margin: 0;
  background: #fff;
}
header {
  top: 0;
  width: 100%;
  text-align: center;
  height: 70px;
  background-color: white;
  border-bottom: 2px solid rgb(56, 56, 69);
  border-radius: 0px 0px 100px 0px;
  font: 300 40px "open sans", sans-serif;
  margin-bottom: 5%;
}
a {
  text-decoration: none;
}

.logout {
  margin-right: 35px;
  text-align: end;
  font-size: 9px;
}
svg {
  color: rgb(10, 10, 179);
  margin-bottom: 0;
}
.tabs {
  width: 80%;
  margin: 2px auto;
  position: relative;
}
.tab-buttons span {
  font: 400 14px "open sans", sans-serif;
  color: #333;
  background: white;
  cursor: pointer;
  border-bottom: 2px solid #ddd;
  display: block;
  width: 20%;
  float: left;
  text-align: center;
  height: 80px;
  line-height: 0px;
}
.tab-content {
  padding: 3px;
  background: white;
  display: inline-block;
  font: 400 13px "open sans", sans-serif;
  color: #333;
}
.con1 {
  display: flex;
}
.con {
  border: rgb(14, 14, 49) solid 2px;
  height: 100px;
  width: 500px;
  margin: 5%;
}

span {
  border: blue;
}

span div {
  top: 0;
}

.con1-2 {
  text-align: center;
  width: 100%;
}
.con1-2 a {
  color: #fff;
}

.content1 h2 {
  margin-left: 80%;
  width: 400px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  background-color: rgb(2, 2, 88);
  border-radius: 0px 20px 20px 0px;
}
#lamp {
  width: 20%;
  height: 2px;
  background: blue;
  display: block;
  position: absolute;
  top: 80px;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

#lamp.content1 {
  left: 0;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content2 {
  left: 20%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content3 {
  left: 40%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content4 {
  left: 60%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
#lamp.content5 {
  left: 80%;
  transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}
