{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <script
      src="https://code.jquery.com/jquery-2.1.3.min.js"
      integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'interview/js/base.js' %}"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.min.css"
      integrity="sha384-fFxL8wXRpg9gVqGpY+URMtLr3fLL0WBbo4NBQ+IWwMDYjIjI5VQ46XlJm5+BUlXJ"
      crossorigin="anonymous"
    />
    <link href="{% static 'interview/css/base.css' %}" rel="stylesheet" />
  </head>
  <body>
    {% if user.is_authenticated %}
    <header>
      <div class="logout">
        <a href="{% url 'logout' %}"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            fill="currentColor"
            class="bi bi-escape"
            viewBox="0 0 16 16"
          >
            <path
              d="M8.538 1.02a.5.5 0 1 0-.076.998 6 6 0 1 1-6.445 6.444.5.5 0 0 0-.997.076A7 7 0 1 0 8.538 1.02Z"
            />
            <path
              d="M7.096 7.828a.5.5 0 0 0 .707-.707L2.707 2.025h2.768a.5.5 0 1 0 0-1H1.5a.5.5 0 0 0-.5.5V5.5a.5.5 0 0 0 1 0V2.732l5.096 5.096Z"
            />
          </svg>
          <div>logout</div></a
        >
      </div>
    </header>
    <!---<p>Hi {{ user.username }}!</p>-->
    <div class="tabs">
      <div class="tab-buttons">
        <span class="content1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-pen-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z"
            />
          </svg>
          <p>練習</p>
        </span>
        <span class="content2"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-file-earmark-bar-graph-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm.5 10v-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-2.5.5a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-1zm-3 0a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-1z"
            />
          </svg>
          <p>成績</p></span
        >
        <span class="content3"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-file-earmark-text-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"
            />
          </svg>
          <p>問題</p>
        </span>
        <span class="content4"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-bell-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
            />
          </svg>
          <p>お知らせ</p></span
        >
        <span class="content5">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-person-circle"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
          </svg>
          <p>アカウント</p>
        </span>
        <div id="lamp" class="content1"></div>
      </div>

      <div class="tab-content">
        <div class="content1">
          <h1>1</h1>
          <div class="con1">
            <div class="con">kkkkkkkkkkkkkkkkkkkk</div>
            <div class="con">kkkkkkkkkkkkkkkkkkkk</div>
          </div>
        </div>

        <div class="content2">
          This is the content of 2 container.This will be open when button 2 is
          clicked.This is the content of 2 container.This will be open when
          button 2 is clicked.This is the content of 2 container.This will be
          open when button 2 is clicked.
        </div>

        <div class="content3">
          This is the content of 3 container.This will be open when button 3 is
          clicked.This is the content of 3 container.This will be open when
          button 3 is clicked.This is the content of 3 container.This will be
          open when button 3 is clicked.
        </div>
        <div class="content4"></div>
        <div class="content5">
          <p>Hi {{ user.username }}!</p>
        </div>
      </div>
    </div>
    <div class="credit"></div>
    <!--<div class="tab-003">
      <label>
        <input type="radio" name="tab-003" checked>
        面接練習
        <a href="{% url 'practice' %}">面接練習</a>
      </label>
      <div>
        面接オプション
      </div>

      <label>
        <input type="radio" name="tab-003">
        <a href="{% url 'score'%}" >スコア確認</a>
        スコア確認
      </label>
      <div>
        スコア
      </div>
    </div>-->
    {% else %}
    <p>You are not logged in.</p>
    <p><a href="{% url 'login' %}">login</a></p>
    <p><a href="{% url 'signup' %}">新規登録はこちら</a></p>
    {% endif %}
  </body>
  <script>
    $(".tab-content>div").hide();
    $(".tab-content>div").first().slideDown();
    $(".tab-buttons span").click(function () {
      var thisclass = $(this).attr("class");
      $("#lamp").removeClass().addClass("#lamp").addClass(thisclass);
      $(".tab-content>div").each(function () {
        if ($(this).hasClass(thisclass)) {
          $(this).fadeIn(800);
        } else {
          $(this).hide();
        }
      });
    });
  </script>
</html>
