<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <button type="submit">練習開始</button>
    </form>

    {{ chat_results }}
    <br>
    <h1>あなた</h1>
    <div id="video-container">
        <video id="camera-feed" autoplay width="640" height="480"></video>
    </div>
    <script>
        const video = document.getElementById('camera-feed');
        const constraints = { video: true };

        navigator.mediaDevices.getUserMedia(constraints)
            .then(stream => {
                video.srcObject = stream;
            })
            .catch(error => {
                console.error('Error accessing camera:', error);
            });
    </script>
    <h4>後から消す</h4>
    <video id="camera-stream" autoplay controls></video>
    <script>
        var cameraStream = document.getElementById('camera-stream');
        function updateCameraStream() {
            fetch('/get_frame/')
                .then(response => response.blob())
                .then(blob => {
                    cameraStream.src = URL.createObjectURL(blob);
                    setTimeout(updateCameraStream, 100);
                });
        }
        updateCameraStream();
    </script>

    

</body>
</html>