<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}

        <button type="submit">練習開始</button>
    </form>

    {{ chat_results }}
    <br>
    <h2>Camera Feed</h2>
    <img id="camera-feed" src="" alt="Camera Feed" width="640" height="480">
    <script>
        var img = document.getElementById('camera-feed');
        function updateCameraFeed() {
            fetch('/get_frame/')
                .then(response => response.blob())
                .then(blob => {
                    img.src = URL.createObjectURL(blob);
                    setTimeout(updateCameraFeed, 100);
                });
        }
        updateCameraFeed();
    </script>
</body>
</html>