{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>score</title>
  </head>
  <body>
    <p>{{ user.username }}さんのスコアです。</p>
    
    <p>前回のアドバイス 
       {{ previous_advise }}</p>

    {% if video %}
    <p>前回の面接動画です。</p>
    <video controls width="600" height="400">
      <source src="{{ video.url }}" type="{{ video.content_type }}">
    </video>
    {% else %}
    <p>面接動画がありません。</p>
    {% endif %}

    {% if graph %}
    <p>前回の面接の音声感情のグラフです。</p>
      <img src="{{ graph.url }}" alt="Image">
    {% else %}
    <p>グラフはありません。</p>
    {% endif %}
  </body>
</html>