{% load static %}
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>score</title>
  </head>
  <body>
    <p>{{ user.username }}さんの成績です。</p>
    
    {% if score %}
    <p>前回の結果です。</p>
    <p>スコア：{{ score }}</p>
    <p>評価：{{ evaluation }}</p>
    <p>アドバイス：{{ advice }}</p>
    {% else %}
    <p>面接練習を行なっていません。</p>
    {% endif %}

    {% if video %}
    <p>前回の面接動画です。</p>
    <video controls width="600" height="400">
      <source src="{{ video.url }}" type="{{ video.content_type }}">
    </video>
    {% else %}
    <p>面接動画がありません。</p>
    {% endif %}

    {% if graph %}
    <p>前回の面接の音声感情のグラフです。</p>
      <img src="{{ graph.url }}" alt="Image">
    {% else %}
    <p>音声感情のグラフはありません。</p>
    {% endif %}
  </body>
</html>